<div class="carousel carousel-slider center figure">
    {% if produtos.img_1 %}
    <a class="carousel-item"><img class="scale" height="275" src="Public/imgs/Produtos/{{ produtos.img_1 }}"></a>
    {% endif %}
    {% if produtos.img_2 %}
    <a class="carousel-item"><img class="scale" height="275" src="Public/imgs/Produtos/{{ produtos.img_2 }}"></a>
    {% endif %}
    {% if produtos.img_3 %}
    <a class="carousel-item"><img class="scale" height="275" src="Public/imgs/Produtos/{{ produtos.img_3 }}"></a>
    {% endif %}
</div>
