<div class="container row">
    <hr>
    <div class="row row-cat">
        <div class="col s12 center">
            <h3>AlugAki a plataforma ideal para você:</h3>
        </div>
        <div class="col s12 row center">
            <div class="section">
                <div class="row">
                    <div class="col s12 m10 offset-m1">
                        <!--   Promo Section   -->
                        <div class="row" id="promo_section">
                            <div class="col s12 m4">
                                <div class="center promo">
                                    <img src="Public/imgs/svg/001-dinheiro.svg" alt="">
                                    <p class="promo-caption">Economize dinheiro</p>
                                    <p class="light center">No nosso site você pode economizar muito dinheiro! 🤑</p>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="center promo">
                                    <img src="Public/imgs/svg/002-fazer-compras.svg" alt="">
                                    <p class="promo-caption">Alugue seus produtos</p>
                                    <p class="light center">O AlugAki é um marketplace confiável! 🎁</p>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="center promo">
                                    <img src="Public/imgs/svg/003-pacote.svg" alt="">
                                    <p class="promo-caption">Menos trabalho!</p>
                                    <p class="light center">Aqui você trabalha menos! Quase nada! Quantidades pequenininhas! 👌 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <hr>
        </div>
        <div class="row" id="card-index">
            <h5 class="col s12"><strong><b>COISAS INTERESSANTES</b></strong></h5>
            <a href="?pag=sobre" class="col s12">
                <div class="card-panel stats-card orange darken-2 orange-text text-lighten-5">
                    <i class="fas fa-info"></i>
                    <span class="count">Sobre nós</span>
                    <div class="name">Veja mais sobre nós.</div>
                </div>
            </a>
            <a href="?pag=termo" class="col s12">
                <div class="card-panel stats-card orange darken-2 orange-text text-lighten-5">
                    <i class="fas fa-gavel"></i>
                    <span class="count">Termos de Uso</span>
                    <div class="name">Veja nossos termos de uso.</div>
                </div>
            </a>
            <a href="?pag=produtos" class="col s12">
                <div class="card-panel stats-card orange darken-2 orange-text text-lighten-5">
                    <i class="fas fa-tags"></i>
                    <span class="count">Loja</span>
                    <div class="name">Veja a loja.</div>
                </div>
            </a>
        </div>
        <div class="col s12">
            <hr>
        </div>
        <div class="produtos">
            <div class="row">
                <h5 class="col s12"><strong><b>PRODUTOS EM DESTAQUE</b></strong></h5>
                {% include "template/produtos.html" %}
            </div>
        </div>
    </div>