<div id="sair">
    <div class="row">
        <div class="col s12">
            <h3 class="page-header"> Sair | Log Out</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s12">
            <div class="row grey lighten-3 title" style="padding: 10px 5px;">
            </div>
            <div class="row">
                <div class="card-panel stats-card red lighten-1 blue-text text-lighten-5" style="margin-bottom: 0;">
                    <i class="fas fa-power-off"></i>
                    <span class="count">Deseja Sair?</span>
                </div>
                <div style="border: 1px solid; padding: 10px">
                    <a href="?pag=admin" class="btn red waves-effect waves-orange">Não</a>
                    <a href="?pag=admin&metodo=logout" class="btn green darken-2 waves-effect waves-orange">Sim</a>
                </div>
            </div>
        </div>
    </div>
</div>